ABC SKU Pipeline.json
{
  "name": "ABC SKU Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "product-inserted",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "05151e63-9679-4996-aa34-8882090ce3bf",
      "name": "Webhook",
      "webhookId": "206b9b96-d583-47bd-98ae-605c4f274d43"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://127.0.0.1:8000/api/analyze/{{ $json.body.item_number }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "7530a03b-4625-45a0-ae98-9aac5fd2e6b6",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1e5b27c4-d2b6-4f03-9f21-6f109cf93719",
              "leftValue": "={{ $json.ai.verdict }}",
              "rightValue": "Approved",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "6fa1b23a-824c-49d6-a2dc-284b381c74a2",
      "name": "If"
    },
    {
      "parameters": {
        "toRecipients": "vigneshviki1005@gmail.com",
        "subject": "=Image Validation Alert — {{ $json.item_number }}",
        "bodyContent": "=Hi,\n\nThe following product failed image validation and requires attention.\n\nItem Number : {{ $json.item_number }}\nVerdict     : {{ $('HTTP Request').item.json.ai.verdict }}\nScore       : {{ $('HTTP Request').item.json.ai.composite_score }}%\nReason      : {{ $('HTTP Request').item.json.ai.verdict_note }}\n\nView full analysis:\nhttp://localhost:5173/results/{{ $json.item_number }}\n\n— Image Analysis Tool",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        624,
        -96
      ],
      "id": "89a2da36-f5a8-4d27-8f5f-d92985a412e7",
      "name": "Send a message",
      "webhookId": "c954b171-1db7-40f4-ba0e-21b5a9523f38",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "pbw3JqnH8lvn5AqH",
          "name": "Microsoft Outlook account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "f1c67ff9-5ffc-4326-a5ec-8a637ffb2ec5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0a0c4b0f5f4957a39dc6c9744265b1ce54cc4978063f7a9b0f22cf65207e7137"
  },
  "id": "x7Yzo6LxJFAPVEui",
  "tags": []
}